<html>

<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>

<body>
    <center>
        <h2>Under construction...</h2>
        <h2>Under construction...</h2>
        <h2>Under construction...</h2>
        <h2>Under construction...</h2>
        <h2>But we have a game.</h2>
        <h2>Send me something like /action/hello and I will repeat.</h2>
        <h2>I like marquee...</h2>
    </center>
</body>

</html>